@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}


.logoGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none !important;
  
}